.navbar {
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 22px;
}

.navbar:hover {
  text-decoration: none;
  background-color: #e2e8f0;
}

.active button{
  background-color: #14b8a6;
  color: white;
}

.active .profileButton {
  background-color: #f4f4f5;
  color: black;
}

